data : 
  seed : 69
  # train_size max 650000
  train_size : 650000
  # test_size max 50000
  test_size : 50000
  input_filepath : data/raw
  output_filepath : data/processed
model : 
  max_steps : 10
  learning_rate : 0.0005
  weight_decay : 0 
  seed : 69
  jit_mode_eval : False
  optim : adamw_hf
  logging_steps : 10
  eval_accumulation_steps : 1
  eval_steps : 50
  evaluation_strategy : steps
  logging_strategy : steps
predict :
  model_path : models/pre_trained
  save_path : predictions
  size : 100
  seed : 42
  batch_size : 8


hydra:
  job:
    chdir: False 